.progress{
	display:none !important;
}
.pag1{
	background-image:url(../img/PMS-BG-TELA01.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.pag2{
	text-align:center;
	background-image:url(../img/PMS-BG-TELA02.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.pag3{
	text-align:center;
	background-image:url(../img/pag3/PMS-BG-TELA03.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.pag4{
	text-align:center;
	background-image:url(../img/pag4/PMS-BG-TELA04.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.pag5{
	text-align:center;
	background-image:url(../img/PMS-BG-TELA02.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	flex-direction: column;
	justify-content: start;
}
.pag7{
	text-align:center;
	background-image:url(../img/pag6/bg-tela-inicial-rotas.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.pag8{
	text-align:center;
	background-image:url(../img/pag3/PMS-BG-TELA03.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.pag9{
	text-align:center;
	background-image:url(../img/pag4/PMS-BG-TELA04.png);
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.itens-page2{
	display:flex;
	justify-content: space-between;
	margin-top: 100px!important;
}
.itens-page2 .item{
	padding: 0px 43px;
}
.page1text {
	animation: overlay 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
	text-align:center;
	font-size: 35px !important;
}
.item .text{
	line-height: 29px !important;
	font-family:ScaniaSansRegular !important;
	font-size: 22px;
}
.controls {
	display:none !important;
}
.risco{
	margin-top:-25px !important;
}
.controlpage{
	display: flex;
	position: fixed;
	top: 90vh;
	width: 100%;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.anterior{
	font-family:ScaniaSansBold !important;
	font-size: 20px !important;
	margin-right: 40px !important;
}
.proximo{
	margin-left:40px !important;
}
.inicio{
	position: fixed;
	left: 100px;
	top: 50px;
}
.contentpage4{
	text-align:left !important;
	    margin-top: -45px !important;
    margin-left: 100px !important;
}
.nobold{
	font-family:ScaniaSansBold !important;
	margin-top: 30px !important;
}
.cliqueconheca{
	font-family: ScaniaSansRegular !important;
	font-size: 24px !important;
}
.itens-page5{
	display:flex;
	flex-direction:row;
}
.itens-page5 .item{
	margin: 0px 50px;
}
.imgstart{
	margin-top: 65px !important;
}
.imgbar{
	margin-top: -25px !important;
}
.footerpage5{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.reducao{
	font-family: ScaniaSansRegular !important;
	font-size: 30px !important;
	    line-height: 0px !important;

}
.percentt{
	font-family: ScaniaSansHeadline !important;
	text-align:left;
	margin-left: 25px !important;
	font-size: 55px !important;
}
.overlaytog1, .overlaytog2, .overlaytog3, .overlaytog4{
	display:none !important;
	position:fixed;
	z-index: 1;
	background-color: rgba(0, 49, 72, 0.75);
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.viewoverley{
	display:flex !important;
	animation: overlay 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
}
.overlaytog1 .content, .overlaytog2 .content, .overlaytog3 .content, .overlaytog4 .content{
	animation: overlay 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
	animation-delay:0.5s;
	opacity:0;
}
img{
		animation: itens 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
}
.percentt{
	animation: itens 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
}
.anterior{
	animation: itens 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
}
.itens-page5 .item{
	animation: itens 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
}
.itens-page2 .item{
	animation: itens 600ms cubic-bezier(0.645, 0.045, 0.355, 1) both alternate;
}
.ff1{
	animation-delay:0.2s !important;
}
.ff2{
	animation-delay:0.4s !important;
}
.ff3{
	animation-delay:0.6s !important;
}
.ff4{
	animation-delay:0.8s !important;
}
.itens-page2:nth-child(2){
	animation-delay:1s;
}
.logoimage{
	position: fixed;
	top: 50px;
	right: 50px;
	max-width: 100px;
}
.logoescrito{
	position: fixed;
	bottom: 50px;
	right: 50px;

}
@keyframes overlay {
   0% {
   	opacity:0;
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}
@keyframes itens {
   0% {
   	opacity:0;
    transform: translateY(-50px)
  }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes titlepage {
   0% {
   	opacity:0;
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
    opacity: 1
  }
}

@keyframes subtitle {
   0% {
   	opacity:0;
    margin-left:50px;
  }
  100% {
    margin-left:-0px;
    opacity: 1
  }
}


